img {
  max-width: 100%;
}

.site-header {
  position: relative;
}

  .site-header .mdl-layout__header-row {
    padding: 0;
    -ms-flex-pack: center;
    justify-content: center;
  }

.site-description {
  display: block;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.site-logo-row {
  min-height: 200px;
}

.is-compact .site-logo-row {
  min-height: auto;
}

.site-logo {
  background: url("../../assets/images/logosy.png") 50% no-repeat;
  background-size: cover;
  height: 120px;
  width: 120px;
  margin: 15px auto;
}

.is-compact .site-logo {
  height: 50px;
  width: 50px;
  margin: 7px auto;
}

.site-navigation-row {
  background-color: #333333;
  text-transform: uppercase;
  height: 45px;
}

  .site-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
  }

  .site-navigation-row .mdl-navigation__link {
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
    color: #fff;
  }

  .site-navigation-row .is-active {
    position: relative;
    font-weight: bold;
    opacity: 1;
  }

  .site-navigation-row .mdl-navigation__link:hover {
    opacity: 1;
  }

.mdl-layout__content {
  background-color: #fefefe;
}

.site-content {
  margin-bottom: 1em auto;
  margin-left: 1em auto;
  margin-right: 1em auto;
  margin-top: 2%;
  min-height: 580px;
}

.page-content {
  padding-bottom: 2em;
}

.site-max-width {
  max-width: 1200px;
  margin: auto;
}

.site-copy {
  max-width: 700px;
}


.bottom-borderh1 {
  border-bottom: 1px solid lightgray;
}


.mdl-layout__header .mdl-layout__drawer-button {
  color: #fff;
}

.form-contact .mdl-textfield {
  width: 100%;
}


.section__play-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;
}

  .section__play-btn .material-icons {
    font-size: 3rem;
  }

.section--center {
  margin: 0 auto 2rem;
}

footer {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

.footer-container {
  margin: 0 auto;
}

.drop-content-img {
  content: url("../../assets/images/drop-down-arrow.png");
  opacity: 0.8;
}


.drop-down-content {
  display: block;
  background-color: #474747;
  opacity: 0.83;
  width: 53.6%;
  height: auto;
  text-align: center;
  position: absolute;
  z-index: 2;
  margin-top: 264px;
  margin-left: 23.2%;
  border-radius: 0 0 5px 5px;
}

.nav-links {
  opacity: 0.3;
}

  .nav-links:hover {
    opacity: 1;
  }

.visible {
  display: block;
}

.invisible {
  display: none;
}

.mdl-card {
  height: 35vh;
}

.teacher-img {
  content: url("../../assets/images/teacher100.png");
  margin: auto;
  display: block;
  margin-top: 2%;
}
.validacijaerror {
  font-size: 1vh;
  color: red;
}