<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
    <div class="mdl-layout__header-row site-logo-row">
      <span class="mdl-layout__title">
        <div class="site-logo"></div><span class="site-description">SSluzba studentski servis</span>
      </span>
    </div>
    <div (mouseenter)="navigationUp()" class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only" id="dropdownbar">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a (mouseenter)="navigationDrop()" class="mdl-navigation__link"><img class="drop-content-img" /></a>
      </nav>
    </div>
  </header>
  <div [ngClass]="{true: 'visible', false: 'invisible'}[dropdown]" (mouseleave)="navigationUp()" class="drop-down-content">
    <a class="mdl-navigation__links nav-links" href="add-teacher">napravi predavaca</a>
      <a class="mdl-navigation__links nav-links" href="add-student">napravi studenta</a>
      <a class="mdl-navigation__links nav-links" href="add-admin">napravi admina</a>
      <a class="mdl-navigation__links nav-links" href="add-class">napravi predmet</a>
      <a class="mdl-navigation__links nav-links" href="add-smer">napravi smer</a>
      <a class="mdl-navigation__links nav-links" href="edit-smer">izmeni smer</a>
      <a class="mdl-navigation__links nav-links" href="edit-student">izmeni studenta</a>
      <a class="mdl-navigation__links nav-links" href="edit-predmet">izmeni predmet</a>
      <a class="mdl-navigation__links nav-links" (click)="logout()" href="#">logout</a>
  </div>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" href="add-teacher">napravi predavaca</a><a class="mdl-navigation__link" href="add-student">napravi studenta</a><a class="mdl-navigation__link" href="add-admin">napravi admina</a><a class="mdl-navigation__link" href="add-class">napravi predmet</a><a class="mdl-navigation__link" href="add-smer">napravi smer</a><a class="mdl-navigation__link" href="edit-smer">izmeni smer</a><a class="mdl-navigation__link" href="edit-student">izmeni studenta</a><a class="mdl-navigation__link" href="edit-predmet">izmeni predmet</a><a class="mdl-navigation__link" (click)="logout()" href="#">logout</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="site-content">
      <div class="mdl-grid site-max-width">
        <form>
          <label>name:</label>
          <br>
          <input type="text" id="name" name="name" [formControl]="name">
          <br>
          <label>surname:</label>
          <br>
          <input type="txt" id="surname" name="surname" [formControl]="surname">
          <br>
          <label>jmbg:</label>
          <br>
          <input type="text" id="jmbg" name="jmbg" [formControl]="jmbg">
          <br>
          <label>email:</label>
          <br>
          <input type="email" id="email" name="email" [formControl]="email">
          <br>
          <label>username:</label>
          <br>
          <input type="text" id="username" name="username" [formControl]="username">
          <br>
          <label>password:</label>
          <br>
          <input type="password" id="password" name="password" [formControl]="password">
          <br>
          <label>zvanje:</label>
          <br>
          <select id="zvanje" name="zvanje" [formControl]="zvanje">
            <option *ngFor="let data of zvanja" value="{{data}}">{{data}}</option>
          </select>
          <div *ngIf="showErrorMessage">
            <h1 class="validacijaerror">Invalid data Please try again</h1>
          </div>
          <button type="submit" (click)="addPredavac(name, surname, jmbg, email, username, password, zvanje)">Submit</button>
        </form>


      </div>
      <img class="teacher-img" />
    </div>
    <footer class="mdl-mini-footer">
      <div class="footer-container">
        <div class="mdl-logo">&copy; Unitiled. Design: <a href="#" target="_blank">Dota2Duo</a></div>
      </div>
    </footer>
  </main>
</div>  
