<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
      <div class="mdl-layout__header-row site-logo-row">
        <span class="mdl-layout__title">
          <div class="site-logo"></div><span class="site-description">SSluzba studentski servis</span>
        </span>
      </div>
      <div (mouseenter)="navigationUp()" class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only" id="dropdownbar">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
          <a (mouseenter)="navigationDrop()" class="mdl-navigation__link"><img class="drop-content-img" /></a>
        </nav>
      </div>
    </header>
    <div [ngClass]="{true: 'visible', false: 'invisible'}[dropdown]" (mouseleave)="navigationUp()" class="drop-down-content">
        <a class="mdl-navigation__links nav-links" href="polezni-predmeti">polozeni predmeti</a>
        <a class="mdl-navigation__links nav-links" href="nepolozeni-predmeti">nepolozeni predmeti</a>
        <a class="mdl-navigation__links nav-links" href="prijavi">prijavi ispit</a>
        <a class="mdl-navigation__links nav-links" href="odjavi">odjavi ispit</a>
        <a class="mdl-navigation__links nav-links" href="uplati">napravi uplatu</a>
        <a class="mdl-navigation__links nav-links" href="change-password">promeni lozinku</a>
        <a class="mdl-navigation__links nav-links" (click)="logout()" href="student-login">logout</a>
    </div>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="uplati">napravi uplatu</a><a class="mdl-navigation__link" href="polozeni-predmeti">polozeni predmeti</a><a class="mdl-navigation__link" href="nepolozeni-predmeti">nepolozeni predmeti</a><a class="mdl-navigation__link" href="prijavi">prijavi ispit</a><a class="mdl-navigation__link" href="odjavi">odjavi ispit</a><a class="mdl-navigation__link" href="#">logout</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="site-content">
        <div class="mdl-grid site-max-width">
            <table class="table-contentsi" *ngIf="ispiti">
                <tr>
                    <th class="divheader">oznaka</th>
                    <th class="divheader">Naziv Predmeta</th>
                    <th class="divheader">nastavnik</th>
                    <th class="divheader">ocena</th>
                </tr>
                <ng-container *ngFor="let data of ispiti">
                    <tr>
                        <td>{{data.predmet.description}}</td>
                        <td>{{data.predmet.name}}</td>
                        <td>{{data.predavacDTO.name}}</td>
                        <td>{{data.ocena}}</td>
                    
                    </tr>
                </ng-container>
            </table>
            <div *ngIf="!ispiti">
                <h1 class="validacijaerror">nemate ne polozenih predmeta</h1>
              </div>
        </div>
      </div>
      <footer class="mdl-mini-footer">
        <div class="footer-container">
          <div class="mdl-logo">&copy; Unitiled. Design: <a href="#" target="_blank">Dota2Duo</a></div>
        </div>
      </footer>
    </main>