<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
      <div class="mdl-layout__header-row site-logo-row">
        <span class="mdl-layout__title">
          <div class="site-logo"></div><span class="site-description">SSluzba studentski servis</span>
        </span>
      </div>
      <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
          <a class="mdl-navigation__link" href="/student-login">Student</a><a class="mdl-navigation__link" href="/teacher-login">Profesor</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="/student-login">Student</a><a class="mdl-navigation__link" href="portfolio.html">Profesor</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="site-content">
        <div class="mdl-grid site-max-width">
          <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
            <div class="mdl-card__title">
              <h1 class="mdl-card__title-text">Student login</h1>
            </div>
            <div class="mdl-grid site-copy">
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text">
                  <form>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" name="username" [formControl]="username" required>
                      <mat-error *ngIf="username.invalid && username.touched">{{getErrorMessageu()}}</mat-error>
                      <label class="mdl-textfield__label" for="sample3">username</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" name="password" type="password" [formControl]="password" required>
                      <mat-error *ngIf="password.invalid  && password.touched">{{getErrorMessagep()}}</mat-error>
                      <label class="mdl-textfield__label" for="sample3">password</label>
                    </div>
                    <div *ngIf="showErrorMessage">
                      <h1 class="validacijaerror">Invalid username and password Please try again</h1>
                    </div>
                    <p>
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="login(username, password)" type="submit">
                        Login
                      </button>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="mdl-mini-footer">
        <div class="footer-container">
          <div class="mdl-logo">&copy; Unitiled. Design: <a href="#" target="_blank">Dota2Duo</a></div>
        </div>
      </footer>
    </main>
  </div>
