img {
    max-width: 100%;
  }
  
  .site-header {
    position: relative;
  }
  
    .site-header .mdl-layout__header-row {
      padding: 0;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
  .site-description {
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .is-compact .mdl-layout__title span {
    display: none;
  }
  
  .site-logo-row {
    min-height: 200px;
  }
  
  .is-compact .site-logo-row {
    min-height: auto;
  }
  
  .site-logo {
    background: url("../../assets/images/logosy.png") 50% no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    margin: 15px auto;
  }
  
  .is-compact .site-logo {
    height: 50px;
    width: 50px;
    margin: 7px auto;
  }
  
  .site-navigation-row {
    background-color: #333333;
    text-transform: uppercase;
    height: 45px;
  }
  
    .site-navigation-row .mdl-navigation {
      text-align: center;
      max-width: 900px;
      width: 100%;
    }
  
    .site-navigation-row .mdl-navigation__link {
      -ms-flex: 1;
      flex: 1;
      line-height: 42px;
      color: #fff;
    }
  
    .site-navigation-row .is-active {
      position: relative;
      font-weight: bold;
      opacity: 1;
    }
  
    .site-navigation-row .mdl-navigation__link:hover {
      opacity: 1;
    }
  
  .mdl-layout__header .mdl-layout__drawer-button {
    color: #fff;
  }
  .mdl-layout__content {
    background-color: #fefefe;
  }
  
  .site-content {
    margin: 1em auto;
    min-height: 580px;
  }
  
  .page-content {
    padding-bottom: 2em;
  }
  
  .site-max-width {
    max-width: 900px;
    margin: auto;
  }
  
  .site-copy {
    max-width: 700px;
  }
  
  
  .mdl-card__title {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
    .mdl-card__title > h4 {
      margin-top: 0;
    }
  
  
  
  
  .mdl-card__title,
  .mdl-card__actions,
  .mdl-button {
    color: #fff;
  }
  
  
  
  
  
  .mdl-button {
    margin: 0 auto;
  }
  
  
  .mdl-card__title {
    padding-bottom: 0;
  }
  .form-contact .mdl-textfield {
    width: 100%;
  }
  
  
  .section__play-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 150px;
  }
  
    .section__play-btn .material-icons {
      font-size: 3rem;
    }
  
  .section--center {
    margin: 0 auto 2rem;
  }
  
  footer {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
  }
  
  .footer-container {
    margin: 0 auto;
  }
.validacijaerror {
  font-size: 1vh;
  color: red;
}
