<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
          <div class="mdl-layout__header-row site-logo-row">
            <span class="mdl-layout__title">
              <div class="site-logo"></div><span class="site-description">SSluzba studentski servis</span>
            </span>
          </div>
          <div (mouseenter)="navigationUp()" class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only" id="dropdownbar">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
              <a (mouseenter)="navigationDrop()" class="mdl-navigation__link"><img class="drop-content-img" /></a>
            </nav>
          </div>
        </header>
        <div [ngClass]="{true: 'visible', false: 'invisible'}[dropdown]" (mouseleave)="navigationUp()" class="drop-down-content">
          <a class="mdl-navigation__links nav-links" href="add-teacher">napravi predavaca</a>
          <a class="mdl-navigation__links nav-links" href="add-student">napravi studenta</a>
          <a class="mdl-navigation__links nav-links" href="add-admin">napravi admina</a>
          <a class="mdl-navigation__links nav-links" href="add-class">napravi predmet</a>
          <a class="mdl-navigation__links nav-links" href="add-smer">napravi smer</a>
          <a class="mdl-navigation__links nav-links" href="edit-smer">izmeni smer</a>
          <a class="mdl-navigation__links nav-links" href="edit-student">izmeni studenta</a>
          <a class="mdl-navigation__links nav-links" href="edit-predmet">izmeni predmet</a>
          <a class="mdl-navigation__links nav-links" (click)="logout()" href="#">logout</a>
        </div>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
          <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="add-teacher">napravi predavaca</a><a class="mdl-navigation__link" href="add-student">napravi studenta</a><a class="mdl-navigation__link" href="add-admin">napravi admina</a><a class="mdl-navigation__link" href="add-class">napravi predmet</a><a class="mdl-navigation__link" href="add-smer">napravi smer</a><a class="mdl-navigation__link" href="edit-smer">izmeni smer</a><a class="mdl-navigation__link" href="edit-student">izmeni studenta</a><a class="mdl-navigation__link" href="edit-predmet">izmeni predmet</a><a class="mdl-navigation__link" (click)="logout()" href="#">logout</a>
          </nav>
        </div>
        <main class="mdl-layout__content">
          <div class="site-content">
            <div class="mdl-grid site-max-width">
                    <table>
                            <tr>
                                <th>name</th>
                                <th>surname</th>
                                <th>indexBr</th>
                                <th>jmbg</th>
                                <th>godina</th>
                                <th>smer</th>
                            </tr>
                            <ng-container *ngFor="let data of studenti">
                                <tr (click)="onSelect(data)">
                                    <td (click)="addGodine(data.smer.id)">{{data.name}}</td>
                                    <td (click)="addGodine(data.smer.id)">{{data.surname}}</td>
                                    <td (click)="addGodine(data.smer.id)">{{data.indexBr}}</td>
                                    <td (click)="addGodine(data.smer.id)">{{data.jmbg}}</td>
                                    <td (click)="addGodine(data.smer.id)">{{data.godina}}</td>
                                    <td (click)="addGodine(data.smer.id)">{{data.smer.naziv}}</td>
                                
                                </tr>
                            </ng-container>
                        </table>
              <form *ngIf="selectedStudent">
                <label>name:</label>
                <br>
                <input [(ngModel)]="selectedStudent.name" placeholder="name" type="text" id="name" name="name" [formControl]="name">
                <br>
                <label>surname:</label>
                <br>
                <input [(ngModel)]="selectedStudent.surname" placeholder="surname" type="txt" id="surname" name="surname" [formControl]="surname">
                <br>
                <label>indexBr:</label>
                <br>
                <input [(ngModel)]="selectedStudent.indexBr" placeholder="indexBr" type="text" id="indexBr" name="indexBr" [formControl]="indexBr">
                <br>
                <label>jbmg:</label>
                <br>
                <input [(ngModel)]="selectedStudent.jmbg" placeholder="jmbg" type="jbmg" id="jbmg" name="jbmg" [formControl]="jbmg">
                <br>
                <label>smer:</label>
                  <br>
                  <select [(ngModel)]="selectedStudent.smer.id" placeholder="smer" id="smer" name="smer" [formControl]="smer" (click)="addGodine($event.target.value)">
                    <option *ngFor="let data of smerovi" value="{{data.id}}">{{data.naziv}}</option>
                  </select>
                  <br>
                <label>godina:</label>
                <br>
                <select [(ngModel)]="selectedStudent.godina" placeholder="godina" id="godina" name="godina" [formControl]="godina">
                    <option *ngFor="let data of godine" value="{{data}}">{{data}}</option>
                </select>
                  <br>
                  <div *ngIf="showErrorMessage">
                    <h1 class="validacijaerror">Invalid data Please try again</h1>
                  </div>
                <button type="submit" (click)="editStudent(name, surname, indexBr, jbmg, smer, godina)">Submit</button>
              </form>
      
      
            </div>
          </div>
          <footer class="mdl-mini-footer">
            <div class="footer-container">
              <div class="mdl-logo">&copy; Unitiled. Design: <a href="#" target="_blank">Dota2Duo</a></div>
            </div>
          </footer>
        </main>
      </div>