.example-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 1%;
}

  .example-container > * {
    width: 100%;
  }
.bottom-border {
  border-bottom: 1px gray;
}
