<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
          <div class="mdl-layout__header-row site-logo-row">
            <span class="mdl-layout__title">
              <div class="site-logo"></div><span class="site-description">SSluzba studentski servis</span>
            </span>
          </div>
          <div (mouseenter)="navigationUp()" class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only" id="dropdownbar">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
              <a (mouseenter)="navigationDrop()" class="mdl-navigation__link"><img class="drop-content-img" /></a>
            </nav>
          </div>
        </header>
        <div [ngClass]="{true: 'visible', false: 'invisible'}[dropdown]" (mouseleave)="navigationUp()" class="drop-down-content">
          <a class="mdl-navigation__links nav-links" href="make-exam">zakazi ispit</a>
          <a class="mdl-navigation__links nav-links" href="oceni">oceni studenta</a>
          <a class="mdl-navigation__links nav-links" (click)="logout()" href="#">logout</a>
        </div>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
          <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="make-exam">zakazi ispit</a><a class="mdl-navigation__link" href="oceni">oceni studenta</a><a class="mdl-navigation__link" (click)="logout()" href="#">logout</a>
          </nav>
        </div>
        <main class="mdl-layout__content">
          <div class="site-content">
            <div class="mdl-grid site-max-width">
                    <table *ngIf="ispiti">
                        <tr>
                            <th>oznaka</th>
                            <th>Naziv Predmeta</th>
                            <th>ESPB</th>
                            <th>datum</th>
                        </tr>
                        <ng-container *ngFor="let data of ispiti">
                            <tr (click)="onSelect(data)">
                                <td>{{data.predmet.description}}</td>
                                <td>{{data.predmet.name}}</td>
                                <td>{{data.predmet.espb}}</td>
                                <td>{{data.datum_polaganja}}</td>
                            </tr>
                        </ng-container>
                    </table>
                      <form *ngIf="selectedIspit">
                          <div>
                              <label>predmet</label>
                              <input [(ngModel)]="selectedIspit.predmet.name" placeholder="predmet" type="text" name="predmet" disabled>
                            </div>
                            <br>
                            <label>ocena:</label>
                            <br>
                            <input [(ngModel)]="selectedIspit.ocena" placeholder="ocena" type="text" id="ocena" name="ocena">
                            <br>
                            <div *ngIf="showErrorMessage">
                                <h1 class="validacijaerror">Invalid date Please try again</h1>
                            </div>
                            <p>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="oceniIspit(ocena)" type="submit">
                                    oceni
                                </button>
                            </p>
                        </form>
            </div>
            <img class="teacher-img" />
          </div>
        </main>
        <footer class="mdl-mini-footer">
            <div class="footer-container">
              <div class="mdl-logo">&copy; Unitiled. Design: <a href="#" target="_blank">Dota2Duo</a></div>
            </div>
          </footer>
      </div>
      