<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
      <div class="mdl-layout__header-row site-logo-row">
        <span class="mdl-layout__title">
          <div class="site-logo"></div><span class="site-description">SSluzba studentski servis</span>
        </span>
      </div>
      <div (mouseenter)="navigationUp()" class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only" id="dropdownbar">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
          <a (mouseenter)="navigationDrop()" class="mdl-navigation__link"><img class="drop-content-img" /></a>
        </nav>
      </div>
    </header>
    <div [ngClass]="{true: 'visible', false: 'invisible'}[dropdown]" (mouseleave)="navigationUp()" class="drop-down-content">
      <a class="mdl-navigation__links nav-links" href="add-teacher">napravi predavaca</a>
      <a class="mdl-navigation__links nav-links" href="add-student">napravi studenta</a>
      <a class="mdl-navigation__links nav-links" href="add-admin">napravi admina</a>
      <a class="mdl-navigation__links nav-links" href="add-class">napravi predmet</a>
      <a class="mdl-navigation__links nav-links" href="add-smer">napravi smer</a>
      <a class="mdl-navigation__links nav-links" href="edit-smer">izmeni smer</a>
      <a class="mdl-navigation__links nav-links" href="edit-student">izmeni studenta</a>
      <a class="mdl-navigation__links nav-links" href="edit-predmet">izmeni predmet</a>
      <a class="mdl-navigation__links nav-links" (click)="logout()" href="admin-login">logout</a>
    </div>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="add-teacher">napravi predavaca</a><a class="mdl-navigation__link" href="add-student">napravi studenta</a><a class="mdl-navigation__link" href="add-admin">napravi admina</a><a class="mdl-navigation__link" href="add-class">napravi predmet</a><a class="mdl-navigation__link" href="add-smer">napravi smer</a><a class="mdl-navigation__link" href="edit-smer">izmeni smer</a><a class="mdl-navigation__link" href="edit-student">izmeni studenta</a><a class="mdl-navigation__link" href="edit-predmet">izmeni predmet</a><a class="mdl-navigation__link" (click)="logout()" href="#">logout</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="site-content">
        <div class="mdl-grid site-max-width">
          <div class="mdl-cell mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Vasi podaci</h2>
            </div>
            <div class="mdl-card__supporting-text" *ngIf="admin">
              <span>Ime: </span><span>{{admin.name}}</span>
              <br>
              <span>Prezime: </span><span>{{admin.surname}}</span>
              <br>
              <span>Pol: </span><span>Muski</span>
              <br>
              <span>email: </span><span>{{admin.email}}</span>
              <br>
              <span>jmbg: </span><span>{{admin.jmbg}}</span>
            </div>
          </div>
          <div class="mdl-cell mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Podaci uplate</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <span>primalac: </span><span>SSluzba</span>
                <br>
                <span>broj modela: </span><span>99</span>
                <br>
                <span>ziro racun: </span><span>2131231321</span>
                <br>
                <span>stanje na racunu: </span><span>0</span>
            </div>
          </div>
        </div>
        <img class="teacher-img" />
      </div>
      <footer class="mdl-mini-footer">
        <div class="footer-container">
          <div class="mdl-logo">&copy; Unitiled. Design: <a href="#" target="_blank">Dota2Duo</a></div>
        </div>
      </footer>
    </main>
  </div>  
