<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
    <div class="mdl-layout__header-row site-logo-row">
      <span class="mdl-layout__title">
        <div class="site-logo"></div><span class="site-description">SSluzba studentski servis</span>
      </span>
    </div>
    <div (mouseenter)="navigationUp()" class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only" id="dropdownbar">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a (mouseenter)="navigationDrop()" class="mdl-navigation__link"><img class="drop-content-img" /></a>
      </nav>
    </div>
  </header>
  <div [ngClass]="{true: 'visible', false: 'invisible'}[dropdown]" (mouseleave)="navigationUp()" class="drop-down-content">
    <a class="mdl-navigation__links nav-links" href="polozeni-predmeti">polozeni predmeti</a>
    <a class="mdl-navigation__links nav-links" href="nepolozeni-predmeti">nepolozeni predmeti</a>
    <a class="mdl-navigation__links nav-links" href="prijavi">prijavi ispit</a>
    <a class="mdl-navigation__links nav-links" href="odjavi">odjavi ispit</a>
    <a class="mdl-navigation__links nav-links" href="uplati">napravi uplatu</a>
    <a class="mdl-navigation__links nav-links" href="change-password">promeni lozinku</a>
    <a class="mdl-navigation__links nav-links" (click)="logout()" href="student-login">logout</a>
  </div>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" href="uplati">napravi uplatu</a><a class="mdl-navigation__link" href="polozeni-predmeti">polozeni predmeti</a><a class="mdl-navigation__link" href="nepolozeni-predmeti">nepolozeni predmeti</a><a class="mdl-navigation__link" href="prijavi">prijavi ispit</a><a class="mdl-navigation__link" href="odjavi">odjavi ispit</a><a class="mdl-navigation__link" href="#">logout</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="site-content">
      <div class="mdl-grid site-max-width">
        <div class="mdl-cell mdl-card mdl-shadow--4dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Vasi podaci</h2>
          </div>
          <div class="mdl-card__supporting-text" *ngIf="student">
            <span>Ime: </span><span>{{student.name}}</span>
            <br>
            <span>Prezime: </span><span>{{student.surname}}</span>
            <br>
            <span>broj indeksa: </span><span>{{student.indexBr}}</span>
            <br>
            <span>pol: </span><span>muski</span>
            <br>
            <span>jmbg: </span><span>{{student.jmbg}}</span>
          </div>
        </div>
        <div class="mdl-cell mdl-card mdl-shadow--4dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Podaci uplate</h2>
          </div>
          <div class="mdl-card__supporting-text" *ngIf="student">
           <span>primalac: </span><span>SSluzba</span>
            <br>
            <span>broj modela: </span><span>99</span>
            <br>
            <span>ziro racun: </span><span>2131231321</span>
            <br>
            <span>stanje na racunu: </span><span>{{student.stanjeNaRacunu}}</span>
          </div>
        </div>
      </div>
      <img class="student-img" />
    </div>

  </main>

</div>
<footer class="mdl-mini-footer">
  <div class="footer-container">
    <div class="mdl-logo">&copy; Unitiled. Design: <a href="#" target="_blank">Dota2Duo</a></div>
  </div>
</footer>
