/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
* {
  box-sizing: border-box;
}

html, body {
  font-family: Verdana,sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
