<!-- Side Navigation -->
<nav class="sidebar card center" id="mySidebar">
  <img src="assets/images/logos.png" class="logos"/>
  <a class="nav-item margin-item" href="/student-login">Student</a>
  <a class="nav-item margin-item" href="/teacher-login">Profesor</a>
</nav>

<!-- Header -->
<header class="header" id="myHeader">
  <img src="assets/images/Logo.png" class="logo" />
</header>

<router-outlet></router-outlet>
<!-- Footer -->
<footer>
  <p>
    Almost no rights reserved ® Sve Je Ukradeno<br>
    This website and its content was created for eOb project<br>
    Design by: isto ukraden
  </p>
</footer>
