.sidebar {
  height: 100%;
  background: inherit;
  position: fixed;
  z-index: 2;
  overflow: auto;
  display: block;
  width: 10%;
  top: 0;
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.center {
  text-align: center;
}
.logos {
  magin-top: 1%;
  height: 15vh;
  width: 90%;
}
.animate-left {
  animation: animateleft 0.4s;
}
.nav-item {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;
  font-size: 2vh;
}
.margin-item {
  margin-top: 2%;
}
.xbutton {
  border: none;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}

 .xbutton:hover {
   color: #000;
   background-color: #ccc;
  }

.xxxlarge {
  font-size: 48px;
}
.header {
  background-color: #000;
  height: 15vh;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
}
.navigation {
  width: 5%;
  height: 4vh;
  color: white;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 3vh;
  margin-top: 1%;
  opacity: 1;
  position: fixed;

}
.navigation:hover {
  background: #333333;
}

.logo {
  margin-top: 1%;
  margin-left: 5%;
  height: 12vh;
  width: 40%;

}
.menutitle {
  font-size: 3vh;
  color: #fff;
}
.marginsofdiv {
  height: 50vh;
  width: 60%;
  margin-left: 21%;
  margin-top: 15%;
  display: block;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 1px 1px;
  background-image: linear-gradient(to bottom right, white, blue);
  overflow: hidden;
}
.h1size {
  font-size: 2vh;
  margin-left: 3%;
  font-family: serif;
}
.txtspan {
  font-size: 1vh;
}

.mkinputs {
  width: 12%;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1%;
  height: 3vh;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 1%;
  font-size: 1vh;
}
.inputs {
  margin-right: 1%;
  margin-top: 1%;
  width: 35%;
  box-sizing: border-box;
  display: inline-block;
  height: 3vh;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1vh;
}
.inputp {
  margin-right: 1%;
  margin-top: 1%;
  width: 84%;
  box-sizing: border-box;
  display: inline-block;
  height: 3vh;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1vh;
}
.forms{
  margin-top: 4%;
  margin-left: 2%;
}
.sbmt {
  margin-top: 6%;
  font-size: 2vh;
  height: 4vh;
  width: 40%;
  border: none;
  background-color: white;
  text-align: center;
  margin-left: 26%;
}
footer {
  width: 50%;
  border-top: 1px solid #eee;
  padding: 1em;
  color: black;
  display: block;
  font-weight: lighter;
  font-size: 1vh;
  margin-left: 25%;
  position: absolute;
  bottom: 0;
  margin-top: 0.5%;
  text-align: center;
}
.emptyspace {
  width: 100%;
  height: 3%;
}
